streamers: (
  {
    source: "rtsp://localhost:8554/red"
#    description: "red"
#    target: "rtmp://example.com/key1"
#    enable: true
  },
  {
    source: "rtsp://localhost:8554/green"
#    description: "green"
#    target: "rtmp://example.com/key2"
#    enable: true
  },
  {
    source: "rtsp://localhost:8554/blue"
#    description: "blue"
#    target: "rtmp://example.com/key3"
#    enable: true
  }
)

#http-port: 4080
#ws-port: 5554

#loopback-only: false

// absolute or relative (based on %SNAP_COMMON% in case of snap package, or current dir in other cases) path
// to custom web client
#www-root: "www"

log-level: 3
