streamers: (
  {
    source: "rtsp://localhost:8554/white",
#    key: "0000000000000_0000000000000_xxxxxxxxxx"
#    enable: true
  },
  {
    source: "rtsp://localhost:8554/blue",
#    key: "0000000000000_0000000000000_xxxxxxxxxx"
#    enable: true
  },
  {
    source: "rtsp://localhost:8554/red",
#    key: "0000000000000_0000000000000_xxxxxxxxxx"
#    enable: true
  }
)

log-level: 3
